# Xcode
*.xcodeproj/xcuserdata/
*.xcworkspace/xcuserdata/
*.xccheckout
*.moved-aside
DerivedData/
*.ipa
*.dSYM.zip
*.dSYM
.DS_Store

# Swift Package Manager
.swiftpm/
Packages/
Package.resolved

# CocoaPods
Pods/
*.xcworkspace

# Build products
build/